# =========================
# 编译产物
# =========================
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.lib
*.sbr
*.tlog
*.log
*.pch
*.bsc
*.bak
*.tmp
*.cache
*.lastbuildstate

# =========================
# 构建文件夹
# =========================
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/
build/
Project1/

# =========================
# Visual Studio 项目缓存
# =========================
*.suo
*.user
*.VC.db
*.VC.opendb
*.ipch
.vs/
.vscode/

# =========================
# 系统垃圾
# =========================
Thumbs.db
ehthumbs.db
.DS_Store

# =========================
# 如果你使用 CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
